*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(300deg, yellow, white, orange, white, yellow);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2.2rem;
  border: 5px solid grey;
  outline: none;
  background-color: white;
}

.calculator-grid > button:hover {
  background-color: #99ccff;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  border: 10px solid blue;
  background-color: #333333;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: white;
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
